body{
margin: 0px;
padding: 0px;
}

#Top{
overflow: hidden;
background-color: #000000;
text-align: center; 
height: 65px;
width: 100%;
}

#Top a {
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 27px;
  border-radius: 32px;
  user-select: none;
}

#Top a.logo {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 800;
}
